<div class="home-container">
  <div class="icon-wrapper">
    <button mat-icon-button disableRipple class="icon-button">
      <mat-icon fontIcon="home" aria-hidden="false" aria-label="Home Icon" class="home-icon"></mat-icon>
    </button>
  </div>

  <div class="button-group">
    <button mat-raised-button class="home-button"(click)="openUrl()">Product Details</button>
    <button mat-raised-button class="home-button" (click)="navigateTo('type-of-birds')">Calculate Dose</button>
  </div>
</div>
